
.sidebar {
  height:100%;
  width:40%;
  position:fixed;
  left:0;
  top:0;
  padding-top:150px;
  background-image:url('/public/sideBarBackground.jpg');
  color:white;
}
.listItem {
  text-align: center;
  color:white;
}
